/* Heidi Wang 2025 04 10 Thu */

:root {
  background: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  /* font-family: "Avenir", sans-serif; */
  --heading: hsl(255, 70%, 21%);
  --link: hsl(255, 100%, 28%);
  --visited-link: hsl(255, 100%, 38%);
  --highlight: hsl(255, 62%, 81%);
  --hover: hsla(255, 100%, 95%, 30%);
  --background: hsl(255, 100%, 95%);
  --background-mute: hsl(255, 20%, 93%);
}

* {
  box-sizing: border-box;
  margin: 0;
}

/* name */

.name {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

.name:link, .name:visited {
  color: var(--heading);
}

/* links, selection */

a:link {
  color: var(--link);
}

a:visited {
  color: var(--visited-link);
}

::selection {
  background-color: var(--highlight);
}

/* header footer */

header {
  background-color: var(--background);
  padding: 3vh 0 3vh 20vw;
  display: block;
}

footer {
  background-color: var(--background-mute);
  padding: 6vh 0 6vh 20vw;
  display: flex;
}

.contact {
  padding: 0 0 0 30vw;
}

.contact p {
  padding: 0 0 0.75vh;
}

.contact a {
  font-weight: bold;
  text-decoration: none;
}

main {
  padding: 6vh 0 16vh;
}

/* headings */

h1 {
  color: var(--heading);
  text-align: center;
  font-size: 40px;
  margin: 8vh 0 2vh;
}

h2 {
  color: var(--heading);
}

/* tiles */

.tiles {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2vh 0;
}

.tiles a {
  text-decoration: none;
  max-width: 30em;
}

.tiles article {
  margin: 4%;
}

.tiles img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

.tiles p {
  font-size: 20px;
  text-align: left;
  padding: 2% 5% 0;
}

.tiles a:hover {
  background-color: var(--hover);
}
