/*
Heidi Wang
2025 Oct 05
 */

:root {
  background: #fff;
  color: #000;
  font-family: "Lato", sans-serif;
  /* font-family: "Avenir", sans-serif; */

  /* header footer colors */
  --background: hsl(255, 100%, 95%);
  --background-mute: hsl(255, 20%, 93%);

  --hover: hsla(255, 100%, 95%, 30%);

  --highlight: hsl(255, 62%, 81%);
  /* --heading: hsl(255, 70%, 21%); */
  /* --link: hsl(255, 100%, 28%); */
  /* --visited-link: hsl(255, 100%, 38%); */
}

* {
  /* box-sizing: border-box; */
  margin: 0;
}

/* name */

.name {
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 32px;
  text-decoration: none;
}

/* .name:link, .name:visited {
  color: var(--heading);
} */

/* links, selection */

a:link, a:visited {
  color: unset;
  /* color: var(--link); */
}

/* a:visited {
  color: var(--visited-link);
} */

::selection {
  background-color: var(--highlight);
}

/* header footer */

header {
  background-color: var(--background);
  padding: 3vh 0 3vh 20vw;
  display: block;
}

footer {
  background-color: var(--background-mute);
  padding: 6vh 0 6vh 20vw;
  display: flex;
}

.contact {
  padding: 0 0 0 30vw;
}

.contact p {
  padding: 0 0 0.75vh;
}

.contact a {
  font-weight: bold;
  text-decoration: none;
}

/* main */

main {
  padding: 6vh 0 16vh;
}

.project {
  padding: 0 26vw;
}

/* headings */

h1 {
  /* color: var(--heading); */
  text-align: center;
  font-size: 40px;
  margin: 1.5em 0 0.5em;
}

h2 {
  /* color: var(--heading); */
  margin: 2em 0 0;
}

.subheading {
  text-align: center;
  margin: 0.5em 0;
}

.project .subtitle {
  text-align: center;
}

.project h3 {
  margin: 1em 0 0;
}

/* body text */

.project p, .project ol, .project ul {
  margin: 1em 0 0;
}

.project img + p {
  margin: 2em 0 0;
}

/* images */

.project img {
  display: block;
  margin: auto;
  max-height: 30em;
  max-width: 40em;
  padding: 2em 0 0;
}

.project .logo {
  max-height: 16em;
}

/* grid */

.grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1em 6em;
}

.grid a {
  text-decoration: none;
  max-width: 24em;
}

.grid article {
  margin: 4%;
}

.grid img {
  aspect-ratio: 1;
  object-fit: cover;
  width: 100%;
}

.grid h2 {
  font-size: 20px;
  text-align: left;
  margin: unset;
  padding: 2% 5% 0;
}

.grid .subtitle {
  font-style: italic;
}

.grid p {
  font-size: 17px;
  padding: 2% 5% 0;
}

.grid a:hover {
  background-color: var(--hover);
}
